.wrapper {
    display: flex;
    justify-content: center;
}

.container {
    width: var(--default-layout-width);
    display: flex;
}

.content {
    flex: 1; // flex=1 để chiếm không gian còn lại
}
